<script>
  'use strict'
  {
    function bid(){
      const current_price = document.querySelector('#price').textContent;
      document.querySelector('#price').textContent = parseInt(current_price) +1000;
    }
    setTimeout(bid, 1000);
  }
</script>
<h3>Current Price</h3>
<p id="price">2000<p>
