<h3>Current Price</h3>
<p id="price">2000<p>
<button>BID!!</button>

<script>
  'use strict'
  {
    document.querySelector('button').addEventListener('click', () => {
      const current_price = document.querySelector('#price').textContent;
      document.querySelector('#price').textContent = parseInt(current_price) +1000;
    });
  }
</script>
