<h1>New Chat</h1>

<%= render 'form', chat: @chat %>

<%= link_to 'Back', chats_path %>

<% @chats.each do |chat| %>
  <p><%= chat.message %></p>
<% end %>

<!-- ここにあたらしいメッセージを追加する -->
<div id="new_message"></div>
